[Desktop Entry]
Name=Blue
GenericName=Messages
Comment=Your iPhone's messages, calls, and notifications on Linux
Exec=blue-qt
Icon=com.gabriel.iphonebridge.Qt
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Telephony;Qt;
Keywords=iPhone;SMS;iMessage;Bluetooth;Calls;Notifications;Messages;Blue;
StartupNotify=true
StartupWMClass=blue-qt
